:root {
  --colorMain: #F3EFEF ;
  --colorSecondary: #ECD7C5 ;
  --colorAlt: #4B4947;
  --colorDark: #332E2E;
  --colorWhite: #FFF;
  --fontSizeXSmall:16px;
  --fontSizeSmall:18px;
  --fontSizeRegular:45px;
  --fontSizeMedium:60px;
  --fontSizeBig:90px;
  --fontSmall: "Open Sans";
  --fontBig: "Playfair Display";
  --fontWeightSmall: 300;
  --fontWeightRegular: 500 ;
  --fontWeightBold: 800;
  --lineHeightSmall: 30px;
  --lineHeightBig: 31px;
  --spacingSmall: 0.8px;
  --spacingBig: 9px;
  --spacingZero: 0px;
  --spacerBig: 160px;
  --spacerSmall: 80px;
}

html {
    box-sizing: border-box;
}
html, body {
    width: 100%;
    height:100%;
    overflow-x:hidden;

}
*,
*::before,
*::after {
    box-sizing: inherit;
}

body {

}

.hidden {
    display: none;
}

ul{
    list-style-type: none;
    margin:0;
}

.main {
   height:200000px;
}

.invert{


filter: brightness(0) invert(1);
}

.white{
    color:var(--colorWhite);
}

h2,
.h2-like,
h3 {
    color: var(--colorDark);
}


/*! normalize.css v8.0.1 | MIT License | github.com/necolas/normalize.css */
/* stylelint-disable */

/* Document
   ========================================================================== */

/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */

 html {
  line-height: 1.15; /* 1 */
  -webkit-text-size-adjust: 100%; /* 2 */
}

/* Sections
   ========================================================================== */

/**
 * Remove the margin in all browsers.
 */

body {
  margin: 0;
}

/**
 * Render the `main` element consistently in IE.
 */

main {
  display: block;
}

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* Grouping content
   ========================================================================== */

/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */

hr {
  box-sizing: content-box; /* 1 */
  height: 0; /* 1 */
  overflow: visible; /* 2 */
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */

pre {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

/* Text-level semantics
   ========================================================================== */

/**
 * Remove the gray background on active links in IE 10.
 */

a {
  background-color: transparent;
}

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */

abbr[title] {
  border-bottom: none; /* 1 */
  text-decoration: underline; /* 2 */
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted; /* 2 */
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */

b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */

code,
kbd,
samp {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

/**
 * Add the correct font size in all browsers.
 */

small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
   ========================================================================== */

/**
 * Remove the border on images inside links in IE 10.
 */

img {
  border-style: none;
}

/* Forms
   ========================================================================== */

/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */

button,
input,
optgroup,
select,
textarea {
  font-family: inherit; /* 1 */
  font-size: 100%; /* 1 */
  line-height: 1.15; /* 1 */
  margin: 0; /* 2 */
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */

button,
input { /* 1 */
  overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */

button,
select { /* 1 */
  text-transform: none;
}

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */

button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}

/**
 * Remove the inner border and padding in Firefox.
 */

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * Correct the padding in Firefox.
 */

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */

legend {
  box-sizing: border-box; /* 1 */
  color: inherit; /* 2 */
  display: table; /* 1 */
  max-width: 100%; /* 1 */
  padding: 0; /* 3 */
  white-space: normal; /* 1 */
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */

progress {
  vertical-align: baseline;
}

/**
 * Remove the default vertical scrollbar in IE 10+.
 */

textarea {
  overflow: auto;
}

/**
 * 1. Add the correct box sizing in IE 10.
 * 2. Remove the padding in IE 10.
 */

[type="checkbox"],
[type="radio"] {
  box-sizing: border-box; /* 1 */
  padding: 0; /* 2 */
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */

[type="search"] {
  -webkit-appearance: textfield; /* 1 */
  outline-offset: -2px; /* 2 */
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */

[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */

::-webkit-file-upload-button {
  -webkit-appearance: button; /* 1 */
  font: inherit; /* 2 */
}

/* Interactive
   ========================================================================== */

/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */

details {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */

summary {
  display: list-item;
}

/* Misc
   ========================================================================== */

/**
 * Add the correct display in IE 10+.
 */

template {
  display: none;
}

/**
 * Add the correct display in IE 10.
 */

[hidden] {
  display: none;
}

/* stylelint-enable */


body {
font-family: var(--fontSmall);
font-size: var(--fontSizeXSmall);
font-weight: var(--fontWeightSmall);
line-height: 30px;
letter-spacing: var(--spacingSmall);
}

p{
margin-top:0;
margin-bottom: 0;
}


h1, .h1-like {
font-family:var(--fontBig);
font-size: var(--fontSizeBig);
font-weight: var(--fontWeightRegular);
letter-spacing: var(--spacingZero);
}

h2, .h2-like{
font-family:var(--fontBig);
font-size: var(--fontSizeMedium);
font-weight: var(--fontWeightRegular);
letter-spacing: var(--spacingZero);

}

h3,.h3-like{
font-family:var(--fontBig);
font-size: var(--fontSizeRegular);
font-weight: var(--fontWeightRegular);
letter-spacing: var(--spacingZero);
}

h4,.h4-like{
font-size: var(--fontSizeSmall);
font-weight: var(--fontWeightSmall);
line-height: 31px;
letter-spacing: var(--spacingBig);
}

h5,.h5-like{
font-size: var(--fontSizeXSmall);
font-weight: var(--fontWeightBold);
line-height: 30px;
}

.aligncenter{
text-align:center;
}








.button {
    min-width: 160px;
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
    height: 50px;
    background-color: var(--colorDark);
    text-transform: uppercase;
    text-decoration: none;
    color: var(--colorWhite);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 30px;
    cursor: pointer;
}

.button--normal:hover {
    background-color: var(--colorAlt);
    color: var(--colorWhite);
}

.button:hover {
    color: var(--colorWhite);
}

.button--alt {
    background-color: transparent;
    color: var(--colorDark);
    border: 1px solid var(--colorDark);
}

.button--alt:hover {
    color: var(--colorDark);
}

.button--dark {
    background-color: transparent;
    border: 1px solid var(--colorWhite);
}

.button--noborder {
    background-color: var(--colorWhite);
    color: var(--colorDark);
}

.button--header {
    background-color: var(--colorAlt);
    color: var(--colorWhite);
    text-transform: lowercase;
    padding: 0;
}

.button--noborder:hover {
    color: var(--colorDark);
}



.header--top {
    background-color: var(--colorAlt);
    width: 100%;
    height: 50px;
}

.header--bottom {
    position: relative;
    height:100%;
    z-index: 1;
}
.header {
    position:absolute;
    top:0;
    width:100%;
    left:0;
    z-index:2;
}
.logo--small {
    width: 250px;
}

.logo--container {
    display: flex;
}

.menu__items {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.menu__item--link {
    text-decoration: none;
    color: white;
}

.menu__item--link:hover {
    color: white;
    text-decoration: underline;
}

.navigator {
    display: flex;
    height: 100%;
    align-items: center;
}

.search--input {
    color: var(--colorAlt);
}

.titlesection {
    height: calc(100vh - 50px);
    width: 100vw;
    position: relative;
    top:50px;
    left:0;
    z-index: 1;
}

.section--history{
    margin:var(--spacerSmall) 0;
}

.titlesection--title {
    z-index:2;
}

.section--history-title{
    max-width:850px;
    margin-top:2rem;
}

.flex {
    display: flex;
}

.centerH {
    justify-content: center;
}

.centerV {
    align-items: center;
}

.column{
    flex-direction: column;
}

.backgroundvideo {
    position: absolute;
    Z-index: 0;
    height: calc(100vh - 50px);
    width: 100%;
    -o-object-fit: cover;
       object-fit: cover;
}

.products {
    height: 70vh;
    min-height: 700px;
}

.product {
    height: 100%;
    display: flex;
}

.product--flexend {
    align-items: flex-end;
}

.product--container {
    height: 85%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.product--container-image {
    height: 65%;
    width: 100%;
    background-image: url("/images/product-image.png");
    background-size: cover;
}

.prodflex {}

.section--profession {
    margin-top: var(--spacerBig);
}

.profession--container {
    height: 60vh;
    min-height: 600px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.academy {
    background-color: var(--colorSecondary);
    width: 48%;
}

.institute {
    background-color: var(--colorMain);
    width: 48%;
}

.profession--para {
    margin: 2rem 0;
    width: 65%;
}

.section--care{
    margin-top: var(--spacerBig);
    position:relative;
}
.care--container{
    width:100%;
    height:200px;
    background-color: black;
}

.care--para{
    min-width:300px;
    width:40%;
}

.care--button{
    margin:0;
    padding:0;
    min-width:300px;
    width:40%;
    height:8rem;
    border-bottom: solid black 1px;
}

.care--buttons{
    margin-top:2rem;
}

.care--image-container{
    width:35%;
    height:150%;
    position:absolute;
    top:0;
    right:0;
    background-image: url('/images/care-image.png');

}

.section--testimonials {
    margin-top: var(--spacerBig);
    width: 100%;
    height: 540px;
    background-color: var(--colorSecondary);
}

.login {
    background-color: rgb(0, 0, 0, 0.7);
    width: 100%;
    height: 100%;
    z-index: 10;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer
}

.login--container {
    width: 90%;
    height: 80%;
    background-color: white;
    z-index: 12;
    position: absolute;
    cursor: auto;
}

/* Functions to move arrow of button left when hovering */

.unhover {
    position: relative;
    left: 5px;
    transition: ease-in-out 0.3s all;
}

.hover{
    position: relative;
    left: 15px;
    transition: ease-in-out 0.3s all;
}

/* Functions to change between the 2 header states */

.headerOut{
     background-color:transparent;
     height:100px;
     transition: ease-in-out 0.3s all;
}

.headerIn{
    background-color:var(--colorDark);
    height:70px;
    transition: ease-in-out 0.3s all;
}

/* Fade in and out */

.fadeOut{
     opacity: 0;
     z-index:-1;
     transition: ease-in-out 0.3s all;
}

.fadeIn{
    opacity: 1;
    z-index:7;
    transition: ease-in-out 0.3s all;
}





/* General styles */


/* Components */

