/* Functions to move arrow of button left when hovering */

.unhover {
    position: relative;
    left: 5px;
    transition: ease-in-out 0.3s all;
}

.hover{
    position: relative;
    left: 15px;
    transition: ease-in-out 0.3s all;
}

/* Functions to change between the 2 header states */

.headerOut{
     background-color:transparent;
     height:100px;
     transition: ease-in-out 0.3s all;
}

.headerIn{
    background-color:var(--colorDark);
    height:70px;
    transition: ease-in-out 0.3s all;
}


