.titlesection {
    height: calc(100vh - 50px);
    width: 100vw;
    position: relative;
    top:50px;
    left:0;
    z-index: 1;
}

.section--history{
    margin:var(--spacerSmall) 0;
}

.titlesection--title {
    z-index:2;
}

.section--history-title{
    max-width:850px;
    margin-top:2rem;
}

.flex {
    display: flex;
}

.centerH {
    justify-content: center;
}

.centerV {
    align-items: center;
}

.column{
    flex-direction: column;
}
