html {
    box-sizing: border-box;
}
html, body {
    width: 100%;
    height:100%;
    overflow:hidden;
    position:relative;
}
*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
  background-image:url("/images/background-pattern.svg");
  background-size:15rem;
  color: var(--colorBlack);
  padding: 0 var(--spacerSmall);
  width: 100%;
  overflow-x: hidden;
  padding:0;
  margin:0;
  font-family:var(--fontText);
  font-size:var(--fontSizeSmall);
}



.hidden {
    display: none;
}


.main {
    width:100%;
}

.white {
    filter:invert(1);
}

h2,
.h2-like,
h3 {
    color: var(--colorDark);
}

.title__special
{
    color: var(--colorAlt);
}

.section__colored{
    background-color: var(--colorSecondary);
}



.footer{
    background-color: var(--colorDark);
}

