.button{
    min-width: 160px;
    width:max-content;
    height:50px;
    background-color: var(--colorDark);
    text-transform:uppercase;
    text-decoration: none;
    color:var(--colorWhite);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding:0px 30px;
    cursor:pointer;
}

.button--normal:hover{
    background-color: var(--colorAlt);
    color:var(--colorWhite);
}

.button:hover{
    color: var(--colorWhite);
}

.button--alt{
    background-color: var(--colorWhite);
    color: var(--colorDark);
    border: 1px solid var(--colorDark);
}

.button--alt:hover{
    color: var(--colorDark);
}

.button--dark{
    background-color: transparent;
    border: 1px solid var(--colorWhite);
}

.button--noborder{
    background-color: var(--colorWhite);
    color: var(--colorDark);
}

.button--noborder:hover{
    color: var(--colorDark);
}
