:root {
  --colorMain: #334670 ;
  --colorSecondary: #6DC4C9;
  --colorAlt: #EB7979;
  --colorWhite: white;
  --fontSizeXSmall: 14px;
  --fontSizeSmall: 16px;
  --fontSizeRegular: 22px;
  --fontSizeMedium: 24px;
  --fontSizeBig: 32px;
  --fontText: "Montserrat";
  --fontTitle: "Montserrat";
  --fontWeightRegular: 200;
  --fontWeightBold: 600;
  --lineHeightText: 27px;
  --lineHeightTitle: 40px;
}

